<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/sign-in.css" />
    <title>Sign In</title>
  </head>
  <body>
    <div class="form-container">
      <p class="title">Login</p>
      <form action="/auth/sign-in" method="POST" class="form">
        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" placeholder="">
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="">
          
        </div>

        
        <button type="submit" class="signIN">Sign in</button>
        
      </form>
      <p class="signup">Don't have an account?
        <a  href="/auth/sign-up" class="">Sign up</a>
      </p>
    </div>
    
  </body>
</html>