<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/sign-up.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="box-container">
      <div class="form-container">
        <h2 class="title">Create a new account!</h2>
        <form action="/auth/sign-up" method="POST" class="form">
          <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" />
          </div>
          <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" />
          </div>
          <div class="input-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
            />
          </div>
          <button type="submit" class="signUP">Sign up</button>
        </form>
      </div>
    </div>
  </body>
</html>
