<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>all Books</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

  
    <h1>List of all Books</h1>
    <a href="/books/new">Add new Book</a>

    <div class="card-container">
      <ul>
      <% books.forEach((book)=> { %>
        <li>
      <a href="/books/<%= book._id %>">
        <h4><%= book.title %> <span> by <%= book.author %></span></h4>
      </a>
      </li>
      <% }) %>
    </ul>
    </div>
  </body>
</html>
