<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>

    <h1>Welcome to the app, <%= user.username%>.<span><marquee class="imageGif" direction="down"
    width="42"
    height="42"
    behavior="alternate"
    style="border:solid">
    <img src="https://cdn.pixabay.com/animation/2024/04/14/01/19/01-19-02-524__480.png" alt="" class="indexImg">
</marquee>
</span></h1> 
   
    
  </body>
  <footer><%- include('./partials/_footer.ejs') %></footer>
</html>
