<!-- views/index.ejs -->
<%- include('./partials/_header.ejs') %>
    <title >Home Page</title>
    <link rel="stylesheet" href="/stylesheets/homePage.css">

  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <% if (user) { %>
      <h1 class="welcome" >Welcome to the app, <%= user.username %></h1>
    <% } else { %>
      <h1 class="welcome" >Welcome to the app , reader</h1>
    <% } %>
   
    
  </body>
  <footer><%- include('./partials/_footer.ejs') %></footer>
</html>
