*{
    box-sizing: border-box;
}
body {
    background-color: rgba(17, 24, 39, 1);
   
}


h1{
    color: #e61212;
}


a {
    text-decoration: none;
    color: #fff;
    text-shadow: #c82333 1px 1px 1px ;
    padding: 12px 20px;
}
a :hover {
    padding: 12px 20px;
    text-shadow: 20px 20px 60px #ff0000, -20px -20px 60px #e10303;
} 
nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100vw;
    text-shadow: #f3eded;
}